.banner {
    background-image: url('/public/assets/banner.webp');
    background-position: bottom right;
    /* background-attachment: fixed; */
    background-size: cover;

    min-height: 640px;
    position: relative;
}
.banner::before {
    content: "";
    overflow: hidden;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}