<header class="sticky top-0 z-50 text-[#3697ea] transition duration-300 ease-out bg-white border-b shadow-lg lg:duration-200">
    <div class="container flex flex-row flex-wrap items-center justify-between px-6 py-6 mx-auto 2xl:px-0">
        <a href="/" class="flex items-center font-medium text-gray-900 title-font md:mb-0" title="Liga Pernambucana de Direito Digital">
            <img src="/assets/logo.webp" class="h-8 md:h-12" alt="Liga Pernambucana de Direito Digital" />
        </a>

        <nav class="flex-wrap items-center justify-center order-last w-full text-base text-center lg:order-none lg:w-auto lg:text-left lg:gap-x-2 lg:flex lg:-ml-16" :class="(!isOpenMenuMobile) ? 'hidden' : ''" x-cloak>
            <div class="mt-6 lg:mt-0">
                <a href="/" class="p-4 transition-colors duration-200 md:rounded-l-full" title="Ir para a página" :class="(atualSecao == '' || atualSecao == 'principal') ? 'bg-[#3697ea] text-white' : 'hover:text-white hover:bg-[#3697ea]'">Página principal</a>
            </div>
            <div class="mt-6 lg:mt-0">
                <a href="#quem-somos" class="p-4 transition-colors duration-200" title="Ir para a seção" :class="(atualSecao == 'quem-somos') ? 'bg-[#3697ea] text-white' : 'hover:text-white hover:bg-[#3697ea]'">Quem somos</a>
            </div>
            <div class="mt-6 lg:mt-0">
                <a href="#professores" class="p-4 transition-colors duration-200" title="Ir para a seção" :class="(atualSecao == 'professores') ? 'bg-[#3697ea] text-white' : 'hover:text-white hover:bg-[#3697ea]'">Professores</a>
            </div>
            <div class="mt-6 lg:mt-0">
                <a href="#cronograma" class="p-4 transition-colors duration-200" title="Ir para a seção" :class="(atualSecao == 'cronograma') ? 'bg-[#3697ea] text-white' : 'hover:text-white hover:bg-[#3697ea]'">Cronograma</a>
            </div>
            <div class="mt-6 lg:mt-0">
                <button type="button" class="inline-flex items-center p-4 transition-colors duration-200 group md:rounded-r-full" aria-expanded="false" @click="isOpenMenuMais = !isOpenMenuMais" @click.away="isOpenMenuMais = false">
                    Mais
                    <svg :class="(isOpenMenuMais) ? 'rotate-180 duration-300 text-[#3697ea]' : 'duration-300'" class="w-5 h-5 ml-3 text-[#3697ea] " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>

                <div class="absolute z-40 transform" x-show="isOpenMenuMais" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90" x-cloak>
                    <div class="flex flex-col overflow-hidden bg-white rounded-lg shadow">
                        <a href="breve.html" class="w-full p-4 transition-colors duration-200 hover:text-white hover:bg-[#3697ea]" title="Ir para a página">Política de privacidade</a>
                        <a href="breve.html" class="w-full p-4 transition-colors duration-200 hover:text-white hover:bg-[#3697ea]" title="Ir para a página">Lista de grupos</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="flex gap-x-12 lg:gap-x-0 justify-self-end">
            <div class="flex items-center ml-2 lg:hidden">
                <button class="inline-flex items-center px-4 py-1 text-sm font-medium border-[0.7px] hover:text-cyan-500 border-transparent rounded focus:outline-none lg:mt-0 transition-colors duration-150" type="button" aria-controls="navbar-main" aria-expanded="false" aria-label="Alternar menu de navegação" @click="isOpenMenuMobile = !isOpenMenuMobile">
                    <svg class="w-6 h-7" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg" x-show="!isOpenMenuMobile">
                        <path d="M0 1H28" stroke="currentColor" stroke-width="1.5" />
                        <path d="M0 10.3334H28" stroke="currentColor" stroke-width="1.5" />
                        <path d="M0 19.6666H28" stroke="currentColor" stroke-width="1.5" />
                    </svg>
                    <svg class="w-6 h-6 text-[#3697ea] hover:text-[#3697ea]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" x-show="isOpenMenuMobile" x-cloak>
                        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>